.catalog-product-view {
    background: pink;
}
.navigation {
    background: yellow;
}
.page-footer {
    display: none;
}
.action.tocart {
    display: none;
}
#product-addtocart-button {
    display: block;
}
.center {
    text-align: center;
}
