<head>
    <style>
        table {
            width: 100%;

        }
        td {
            width: 33%;
            height: 30px;
            padding-bottom: 6px;
            padding-top: 3px;
        }
        tr:nth-child(even) {
            background-color: lightgrey;
        }
    </style>
</head>


<body>
<?php /** @var Tasks\HobbyDigi\Block\Survey $block */ ?>
<h2><u>10 most recent records</u></h2>
<table>
    <tr>
        <td>
            ip
        </td>
        <td>
            created at
        </td>
        <td>
            ans
        </td>

    </tr>

    <?php foreach($block->getAns() as $ans): ?>

        <?php /** @var Tasks\HobbyDigi\Block\Survey */ ?>
        <tr>
            <td>
                <?php echo $ans->getIp(); ?>
            </td>
            <td>
                <?php echo $ans->getCreatedAt(); ?>
            </td>
            <td>
                <?php echo $ans->getContent(); ?>
            </td>
        </tr>
    <?php endforeach; ?>
</table>

<h2 style="margin-top: 20px"><u>Most popular zones</u></h2>
<table>
    <tr>
        <td>
            zone
        </td>
        <td>
            count
        </td>
    </tr>
    <?php foreach ($block->getCount() as $count): ?>
        <tr>
            <td>
                <?php echo $count->getContent(); ?>
            </td>
            <td>
                <?php echo $count->getCount(); ?>
            </td>
        </tr>
    <?php endforeach; ?>
</table>
</div>
</body>
